<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MailClient.Properties.Settings>
            <setting name="smtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="smtpUsername" serializeAs="String">
                <value>mercantec@pwnz.dk</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>Fisk1234</value>
            </setting>
            <setting name="smtpUseAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="popHost" serializeAs="String">
                <value>pop.gmail.com</value>
            </setting>
            <setting name="popPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="popUsername" serializeAs="String">
                <value>mercantec@pwnz.dk</value>
            </setting>
            <setting name="popPassword" serializeAs="String">
                <value>Fisk1234</value>
            </setting>
            <setting name="popUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </MailClient.Properties.Settings>
    </userSettings>
</configuration>